<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% load staticfiles %}
<link rel='shortcut icon' href="{% static 'img/favicon.ico' %}" type='image/x-icon' />
<title>Tweetimg: Tweet text as an image.</title>
<link type='text/css' rel='stylesheet' href="{% static 'index.css' %}" />
<link type='text/css' rel='stylesheet' href="{% static 'bootstrap.min.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class='container'>
<h2>Tweetimg  - Tweet text as an image.</h2>
{% block content %}
Init
{% endblock %}
<hr>
<a href="/logout">Log out</a><br />
<span style="font-size:10px">Created by <a href="http://twitter.com/simondlr">@simondlr</a>. <a href="https://github.com/simondlr/tweetimg">Fork this on Github.</a> <a href="http://www.twimemachine.com">Easily read and search your old tweets.</a></span>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5767397-10', 'tweetimg.com');
  ga('send', 'pageview');

</script>
</body>
</html>
